streamlit>=1.35.0
pandas>=2.2.2
plotly>=5.22.0
streamlit-calendar>=0.6.0
streamlit-cookies-controller>=0.0.4
python-dotenv>=1.0.1
pytz>=2024.1
supabase>=2.3.5
email-validator>=2.1.0.post1  # Para validação de e-mails, se usada
